.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 12em auto 3em auto;
}

.topImg {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-self: center;
  height: 790px;
  background-size: cover;
  background-position: center;
}

.active {
  padding-bottom: 10px;
  text-decoration: underline;
  text-underline-offset: 10px;
  color: white;
}

.content {
  max-width: 1200px;
  margin: 5em auto 3em auto;
  height: 100%;
}

.body-text {
  padding: 6em 2em;
  max-width: 850px;
}

.product-head {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 700px;
}

.product-img {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-self: center;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.product-small-img {
  width: 100%;
  display: block;
  margin: auto;
  object-fit: cover;
  height: 400px;
}

.img-wrapper {
  overflow: hidden;
  position: relative;
}

.product-small-img {
  max-width: 100%;
  transition: transform 0.2s ease-out;
}

.img-wrapper:hover .product-small-img {
  transform: scale(1.1);
}

.product-info {
  padding: 2em;
}

.buttons {
  padding: 17px 60px;
  border: none;
  border-radius: 7px;
  background: #1d2133;
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.buttons:hover,
.rounded-btn:hover,
.rounded-btn-plus:hover {
  background: #39426d;
}

.rounded-btn {
  width: 42px;
  height: 42px;
  line-height: 35px;
  padding-bottom: 6px;
  background-color: #1d2133;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 35px;
}

.rounded-btn-plus {
  width: 42px;
  height: 42px;
  line-height: 35px;
  padding-bottom: 6px;
  background-color: #1d2133;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 35px;
  padding-bottom: 0;
  font-size: 26px;
}

@media (max-width: 650px) {
  .product-head {
    display: block;
  }
}
